*{
    margin: 0;
}

.wrapper{
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 8px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100px;
  }

  nav{
      height: 40px;
      width: 100%;
      position: fixed;
      top: 5;
      left:0;
      background-color: rgb(214, 166, 149);
      color: cornsilk;
      box-sizing: border-box;
      padding: 20px 8px;
      z-index: 2;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 100px;

  }

  p {
      margin-bottom: 16px;
      color: white;
  }

  a{
      color: white;
      text-decoration: none;
      margin-right: 15px;

  }


    header {
        position: relative;
        top: 0px;
        width: 100%;
        height: 60px;
        background-color: #946428;
        border: 3px solid #118011;
        margin-top: 10px;
        color: black;
        text-align: center;
        font-family: Times, "Times New Roman", Georgia, serif;
        font-size: 2em;
        padding-top: 10px;
        display: inline-block;
    }
 
article {
    width: 900px;
    height: 70%;
    background-color: #946428;
    border: 5px solid #118011;
    position: absolute;
    top: 100px;
    left: 5px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 0 100;
    flex-direction: column;
}
 
aside {
    width: 30%;
    height: 450px;
    background-color: #946428;
    position: absolute;
    left: 70%;
    top: 200px;
    box-shadow: 10px;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-family: Times, "Times New Roman";
    font-size: 1.6em;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100px;
}

  footer {
    width: 100%;
    height: 50px;
    background-color: rgba(218, 199, 29, 0.788);
    position: fixed;
    bottom: 0px;
  }
  
  .projecttext{
      top: 160px;
      left:80px;
      position: absolute;
  }

  .box1{
height: 60px;
width: 700px;
margin: 20px;
background-color: rgb(199, 118, 118);
color: black;
text-align: center;
font-family: Times, "Times New Roman";
font-size: 1.5em;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1 0 100px;
  }

  .box2{
    height: 60px;
    width: 700px;
    margin: 20px;
    background-color:  rgb(199, 118, 118);
    color: black;
    text-align: center;
    font-family: Times, "Times New Roman";
    font-size: 1.5em;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100px;
      }

      .box3{
        height: 60px;
        width: 700px;
        margin: 20px;
        background-color: rgb(161, 62, 62);
        color: black;
        text-align: center;
        font-family: Times, "Times New Roman";
        font-size: 1.5em;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 100px;
          }

          .box4{
            height: 60px;
            width: 700px;
            margin: 20px;
            background-color:  rgb(199, 118, 118);
            color: black;
            text-align: center;
            font-family: Times, "Times New Roman";
            font-size: 1.5em;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 0 100px;
              }

              footer {
                  position: fixed;
                  bottom: 0px;
                  height: 30px;
                  width: 100%;
                  background-color: #946428;
                  color: white;
                  text-align: center;
                  font-family: "Times New Roman";
                  font-size: 1.4em;
              }

              @media screen and (max-width: 900px) {
                  aside{
                      position: absolute;
                      z-index: 13;
                      left: 10px;
                      display:inline-flex;
                      flex-direction: column;
                      flex-wrap: wrap;
                      flex: 1 0 100px
                  }
                }
               .article {
                width: 65%;
                height: 100%;
                background-color: #d3bb6e;
                margin-left: 2%;
                border-radius: 15px;
                position: absolute;
                top: 200px;
                flex: 1 0 100px;
                display: inline-block;
                flex-direction: row;
                flex-wrap: wrap;
               
            }
            .boxarticle2{
                height: 60px;
                width: 700px;
                margin: 20px;
                background-color: white;
                color:black;
                text-align: center;
                font-family: times, "Times New Romans";
                font-size: 1.5em;
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex: 1 0 100px;

            }

            .boxarticle{
                height: 60px;
                width: 700px;
                margin: 20px;
                background-color: white;
                color:black;
                text-align: center;
                font-family: times, "Times New Romans";
                font-size: 1.5em;
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex: 1 0 100px;

            }

            .prof_pics {
                height: 30px;
                width: 30px;
                padding: 3px;
            }